<div class="container-fluid" style="height: 100px;"></div>








<section  class="py-5 bg-light container max-w">
  <h1 class="center-align">Σύστημα δημιουργίας timesheet</h1>
  <div class="container-fluid" style="height: 40px;"></div>
  <h3>Εισαγωγή ωρών</h3>
  <form class="form-inline">
    <div class="form-group">
      <!-- <label for="formGroupExampleInput">Εισαγωγή ωρών</label> -->
      <input type="text" class="form-control" name="hoursInput" [(ngModel)]="hours" id="formGroupExampleInput" placeholder="Ακέραιος, θετικός αριθμός">
    </div>
  </form>

  <div class="container-fluid" style="height: 50px;"></div>

  <h3>Επιλογή μήνα</h3>
  <form class="form-inline">
    <!-- <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label> -->
    <select class="form-select my-1 mr-sm-2" (change)="handleMonthSelection($event)" id="inlineFormCustomSelectPref">
      <option selected>Επιλέξτε μήνα...</option>
      @for (item of months; track item.month_gr) {
        <option [value]="item.month_en">{{item.month_gr}}</option>
      }
    </select>
  </form>

  <div class="container-fluid" style="height: 50px;"></div>
  <h3>Εξαίρεση ημερών</h3>
  Οι επιλεγμένες ημερομηνίες παρακάτω αντιστοιχούν σε Σαββατοκύριακα και αργίες.
  
  <div class="d-flex flex-wrap">
    @for (month of currentMonthInfo; track month.day) {
      <div class="p-2" style="width: 15%;">
        <input type="checkbox" [(ngModel)]="month.holiday" />
        {{ month.day }}
      </div>
    }
  </div>

  <div class="container-fluid bg-light" style="height: 50px;"></div>

  <h3>Επιλογή διαστήματος</h3>

  <label for="range1" class="form-label">Αρχή διαστήματος: {{period_start}}  {{currentMonthName}}</label>
  <input type="range"
         class="form-range"
         id="range1"
         [(ngModel)]="period_start"
         min="1"
         max={{currentMaxDays.toString()}}>
  
  <label for="range2" class="form-label">Τέλος διαστήματος: {{period_end}}  {{currentMonthName}}</label>
  <input type="range"
         class="form-range"
         id="range2"
         [(ngModel)]="period_end"
         min="1"
         max={{currentMaxDays.toString()}}>


  <div class="container-fluid bg-light" style="height: 50px;"></div>


  <h3>Επιλογή πακέτων εργασίας</h3>


  <div class="container text-center">
    @for (item of wps; track item.name) {
      <div class="row">
        <div class="col-4">
          <div class="form-check form-switch">
            <label class="form-check-label" for="switchCheckDefault">{{ item.name }}</label>
            <input class="form-check-input" 
              type="checkbox" 
              role="switch" 
              id="switchCheck_{{item.name}}"
              [(ngModel)]="item.enabled"
              (ngModelChange)="toggleWeightState(item)">
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-3">
          <input type="range"
            class="form-range"
            id="{{item.name}}"
            [(ngModel)]="item.weight"
            (input)="limitWeight($event, item)"
            [disabled]="!item.enabled"
            min="0"
            max="100">
        </div>
        <div class="col-2">
          {{item.weight}}%
          
        </div>
      </div>
    }
    
  </div>

  <div class="container-fluid bg-light" style="height: 50px;"></div>

  @if (hours_related_issue) {
    <p class="error">* Οι ώρες δεν έχουν προστεθεί σωστά.</p>
  }
  @if (month_related_issue) {
    <p class="error">* Δεν έχει επιλεχτεί ο μήνας.</p>
  }
  @if (wps_related_issue) {
    <p class="error">* Δεν έχουν οριστεί πακέτα εργασίας.</p>
  }
  @if (weights_related_issue) {
    <p class="error">* Τα βάρη των πακέτων εργασίας πρέπει να αθροίζουν στο 100.</p>
  }
  @if (response_related_issue) {
    <p class="error">{{ response_issue }}.</p>
  } 
  @if (!response_related_issue) {
    <p class="success">{{ response_issue }}.</p>
  }
  <div class="container-fluid bg-light" style="height: 50px;"></div>
  <div class="d-flex justify-content-end">
    <button type="button" (click)="collectInfo()" [disabled]="period_start>=period_end" class="btn btn-primary btn-lg">Δημιουργία</button>
  </div>
  
</section>





<router-outlet />
