

section {
  font-family: "Times New Roman", Times, serif;
//   font-family: "Lucida Console", "Courier New", monospace;
//   font-family: Arial, Helvetica, sans-serif;
}

.max-w {
    // width: 800px;
    border-radius: 30px;
}

.center-align {
    text-align: center;
}

.error {
    color: red;
}